<script setup lang="ts">
import axios from '../utils/axios'
import {ref} from 'vue'
const bookList = ref([])
axios.get('/helloworld')
.then(res => {
  bookList.value = res.data
  console.log(res)
})
</script>

<template>
  <main>
    <template v-for="(item,index) in bookList" :key="index">
      <p>{{item}}</p>
    </template>    
  </main>
</template>
